<div class="head-container">
    <a href="/sectfivehome"><button class="back-button">⬅ Volver</button></a>
    <br><span>Elija la hora que desea confirmar:</span>
  </div>

<div class="container">
    <a href="/sectfivedate"><button class="cita-button">Confirmar cita</button></a>
    <a href="/sectfiveeledate"><button class="electro-button">Electrocardiograma</button></a>
    <a href="/sectfiveiradate"><button class="ira-button">Sala IRA</button></a>
    <a href="/sectfivemordate"><button class="morbi-button">Morbilidad infantil</button></a>
</div>

<div class="separador"></div>