<div class="head-container">
    <a href="/home"><button class="back-button">⬅ Volver</button></a>
    <br><span>Elija la hora que desea confirmar:</span>
</div>

<div class="container">
    <a href="/homealimentos"><button class="leche-button">Leche/Alimentos</button></a>
    <a href="/homeexamen"><button class="examen-button">Muestras</button></a>
    <a><button class="vacuna-button">Vacunación</button></a>
    <a href="/homeradiodate"><button class="radio-button">Radiografía</button></a>
</div>

<div class="separador"></div>
